body {
  background-color: rgb(160, 185, 185);
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
h2 {
  background-color: rgb(255, 238, 0);
  display: inline-block;
  display: flex;
  justify-content: center;
}
h3 {
  display: inline-block;

  background-color: black;
  color: yellow;
  margin-right: 15px;
}

div {
  width: 100%;
  height: 50%;

  text-align: center;
}
.img {
  margin-top: 0;
}

.form-container {
  width: 80%;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 80vh;
  height: 100%;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.input-group label {
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .input-group {
    flex-direction: column;
  }

  .input-group input {
    width: 100%;
  }
}
footer {
  text-align: center;
  text-transform: capitalize;
}
select {
  border-radius: 15px;
}
.select {
  display: flex;
  flex-direction: column;
}
#mail {
  text-transform: lowercase;
}
