body {
  text-align: center;
  background: linear-gradient(135deg, #64777d, #d67916);

  height: 100%;
}
#logo {
  filter: drop-shadow(10px 10px 20px black);
}

h3 {
  text-transform: capitalize;
  background-color: yellow;
}
h1 {
  color: white;
}
input {
  margin-bottom: 20px;
  width: 200px;
  height: 25px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 20px black;
  text-align: center;
}
.Verify_button {
  width: 80px;
  height: 30px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: green;
  color: white;
  font-weight: bold;
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}

.paydone {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: 0.3s;
}
.paydone:hover {
  background-color: rgb(80, 62, 137);
}

label {
  font-weight: bold;
}
